In [13]:
# create sql connection
from sqlalchemy import create_engine
import pandas as pd
import json
import urllib.parse
import psycopg2
import os 
with open("credentials.json") as file:
    login = json.load(file)
    
username = login['user']
password = urllib.parse.quote(login['password'])
host = login['host']
port = login['port']

engine = create_engine("postgresql://{}:{}@{}:{}/postgres".format(username,password,host,port))

In [14]:
with engine.connect() as cnn:
    df = pd.read_sql('SELECT * FROM covid_module LIMIT 10;', con = cnn)

df

,ID,householdID,communityID,va001_s1,va001_s2,va001_s3,va001_s4,va001_s5,va001_s6,va001_s7,...,vd001_4,vd002,vd003,xquarantined,xvcnotinquarantine,xvcoutbreak,xiwmonth,xiwyear,proxy_14,versionID
0,094004126001,0940041260,0940041,1 Yes,2 Yes,3 Yes,4 Yes,5 Yes,6 Yes,7 Yes,...,120.0,80.0,80.0,0.0,,正月里,8,2020,None,20231106
1,094004126002,0940041260,0940041,1 Yes,2 Yes,3 Yes,4 Yes,5 Yes,6 Yes,7 Yes,...,165.0,80.0,NaN,0.0,,正月里,8,2020,None,20231106
2,094004111002,0940041110,0940041,1 Yes,2 Yes,3 Yes,4 Yes,5 Yes,6 Yes,7 Yes,...,135.0,120.0,195.0,0.0,,正月里,8,2020,1 Yes,20231106
3,094004111001,0940041110,0940041,1 Yes,2 Yes,3 Yes,4 Yes,5 Yes,6 Yes,7 Yes,...,192.0,90.0,180.0,0.0,,正月里,8,2020,None,20231106
4,094004114001,0940041140,0940041,1 Yes,2 Yes,3 Yes,4 Yes,5 Yes,6 Yes,7 Yes,...,75.0,NaN,NaN,0.0,,正月里,8,2020,None,20231106
5,094004119002,0940041190,0940041,1 Yes,2 Yes,0 No,4 Yes,5 Yes,6 Yes,7 Yes,...,30.0,0.0,0.0,0.0,,正月里,8,2020,None,20231106
6,094004109001,0940041090,0940041,1 Yes,2 Yes,3 Yes,4 Yes,5 Yes,6 Yes,7 Yes,...,NaN,0.0,0.0,0.0,,正月里,7,2020,None,20231106
7,094004109002,0940041090,0940041,1 Yes,2 Yes,3 Yes,4 Yes,5 Yes,6 Yes,7 Yes,...,NaN,0.0,0.0,0.0,,正月里,7,2020,None,20231106
8,094004116001,0940041160,0940041,1 Yes,2 Yes,3 Yes,4 Yes,5 Yes,6 Yes,7 Yes,...,73.0,200.0,NaN,0.0,,正月里,8,2020,None,20231106
9,094004116002,0940041160,0940041,1 Yes,2 Yes,3 Yes,4 Yes,5 Yes,6 Yes,7 Yes,...,73.0,200.0,NaN,0.0,,正月里,8,2020,None,20231106

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 100 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  10 non-null     object
 1   householdID         10 non-null     object
 2   communityID         10 non-null     object
 3   va001_s1            10 non-null     object
 4   va001_s2            10 non-null     object
 5   va001_s3            10 non-null     object
 6   va001_s4            10 non-null     object
 7   va001_s5            10 non-null     object
 8   va001_s6            10 non-null     object
 9   va001_s7            10 non-null     object
 10  va001_s8            10 non-null     object
 11  va001_s9            10 non-null     object
 12  va002_s1            10 non-null     object
 13  va002_s2            10 non-null     object
 14  va002_s3            10 non-null     object
 15  va002_s4            10 non-null     object
 16  va002_s5            10 non-null     object
 17  va002_s6            10 non-null     object
 18  va002_s7            10 non-null     object
 19  va002_s8            10 non-null     object
 20  va002_s9            10 non-null     object
 21  va002_s10           10 non-null     object
 22  va003               10 non-null     object
 23  va004               0 non-null      object
 24  va005               10 non-null     object
 25  va005_1             0 non-null      object
 26  va006_s1            10 non-null     object
 27  va006_s2            10 non-null     object
 28  va006_s3            10 non-null     object
 29  va007               10 non-null     object
 30  vb001_s1            10 non-null     object
 31  vb001_s2            10 non-null     object
 32  vb001_s3            10 non-null     object
 33  vb001_s4            10 non-null     object
 34  vb001_s5            10 non-null     object
 35  vb001_s999          10 non-null     object
 36  vb002_s1            0 non-null      object
 37  vb002_s2            0 non-null      object
 38  vb002_s3            0 non-null      object
 39  vb002_s4            0 non-null      object
 40  vb002_s999          0 non-null      object
 41  vb004               0 non-null      object
 42  vb005_s1            10 non-null     object
 43  vb005_s2            10 non-null     object
 44  vb005_s3            10 non-null     object
 45  vb005_s4            10 non-null     object
 46  vb005_s5            10 non-null     object
 47  vb005_s6            10 non-null     object
 48  vb005_s997          10 non-null     object
 49  vb005_s999          10 non-null     object
 50  vb008               0 non-null      object
 51  vb009_s1            0 non-null      object
 52  vb009_s2            0 non-null      object
 53  vb009_s3            0 non-null      object
 54  vb009_s4            0 non-null      object
 55  vb009_s997          0 non-null      object
 56  vb009_s999          0 non-null      object
 57  vb010               0 non-null      object
 58  vb011               0 non-null      object
 59  vb012               10 non-null     object
 60  vb012_1             8 non-null      float64
 61  vb012_2             8 non-null      float64
 62  vc000               10 non-null     float64
 63  vc001               10 non-null     object
 64  vc002               10 non-null     object
 65  vc003               10 non-null     object
 66  vc004               10 non-null     object
 67  vc005               10 non-null     object
 68  vc006               10 non-null     object
 69  vc007               10 non-null     object
 70  vc008               10 non-null     object
 71  vc009               10 non-null     object
 72  vc010               10 non-null     object
 73  vc011               10 non-null     object
 74  vc012               10 non-null     object
 75  vc013               10 non-null     object
 76  vc014               10 non-null     object
 77  vc015               10 non-null     object
 78  vc016               10 non-null     object
 79  vc017               10 non-null     object
 80  vd001_s1            10 non-null     object
 81  vd001_s2            10 non-null     object
 82  vd001_s3            10 non-null     object
 83  vd001_s4            10 non-null     object
 84  vd001_s5            10 non-null     object
 85  vd001_s997          10 non-null     object
 86  vd001_s999          10 non-null     object
 87  vd001_1             0 non-null      object
 88  vd001_2             0 non-null      object
 89  vd001_3             4 non-null      float64
 90  vd001_4             8 non-null      float64
 91  vd002               9 non-null      float64
 92  vd003               6 non-null      float64
 93  xquarantined        10 non-null     float64
 94  xvcnotinquarantine  10 non-null     object
 95  xvcoutbreak         10 non-null     object
 96  xiwmonth            10 non-null     int64
 97  xiwyear             10 non-null     int64
 98  proxy_14            1 non-null      object
 99  versionID           10 non-null     object
dtypes: float64(8), int64(2), object(90)
memory usage: 7.9+ KB